<div ng-controller="modalVideoCtrl">
        <div class="modal-header">
            <h3 class="modal-title">Criar sala</h3>
        </div>
        <div class="modal-body">
          <form name="addVideo" class="form-horizontal">
              <div class="form-group">
                <label for="tituloVideo" class="col-sm-3 control-label">Nome da sala:</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="tituloVideo" ng-model="room.name" ng-required="true" placeholder="Digite o nome da sala">
                </div>
              </div>
              <div class="form-group">
                <label for="arquivoVideo" class="col-sm-3 control-label">Arquivo de video:</label>
                <div class="col-sm-9">
                  <input type="file" id="arquivoVideo" name="file" ng-required="true" multiple onchange="angular.element(this).scope().uploadFile(this)">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="addRoom()">Adicionar</button>
            <button class="btn btn-danger" type="button" ng-click="cancel()">Fechar</button>
        </div>
</div>
