<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Escolha uma sala</h1>
      <p class="lead">Após escolher uma sala, você irá participar da transmissão da aula em tempo real.</p>
      <!-- <div class="rooms" ng-show="!roomSelected"> -->
        <table class="table table-bordered" ng-if="rooms.length > 0">
          <thead>
            <tr>
              <th>Sala</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="room in rooms">
              <td>{{room.name}}</td>
              <td><button class="btn btn-success" ng-click="setRoom(room)">Entrar na sala</button>
              <button class="btn btn-danger" ng-click="deleteRoom(room.id)">Remover sala</button></td>
            </tr>
          </tbody>
        </table>
        <h2 ng-if="rooms.length <= 0">Não há salas cadastradas.</h2>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-primary" ng-click="newRoom()">Criar nova sala</button>
    </div>
  </div>
</div>
