<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Sala: {{room.name}}</h1>
      <div class="room-video">
        <!-- <video id="video" controls>
          <source ng-src="{{getRoomURL(room.file)}}"></source>
        </video> -->
        <div id="video-container">
      		<!-- Video -->
      		<video id="video" width="640" height="365">
      		  <source ng-src="{{getRoomURL(room.file)}}" type="video/webm">
      		  <p>
      		    Your browser doesn't support HTML5 video.
      		    <a href="videos/mikethefrog.mp4">Download</a> the video instead.
      		  </p>
      		</video>
      		<!-- Video Controls -->
      		<div id="video-controls">
      			<button type="button" id="play-pause" class="play">Play</button>
      			<input type="range" id="seek-bar" value="0">
      			<button type="button" id="mute">Mute</button>
      			<input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
      			<button type="button" id="full-screen">Full-Screen</button>
      		</div>
      	</div>
      </div>
      <div class="room-table">
        <table class="table">
          <thead>
            <tr>
              <th>Tempo</th>
              <th>Usuário</th>
              <th>Tipo de evento</th>
              <th>Mensagem</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="message in messages">
              <th>{{message.time}}</th>
              <th>{{message.user}}</td>
              <th>{{message.ev}}</td>
              <th>{{message.msg}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="room-msg">
        <form name="messageForm">
          <input type="text" ng-model="newMessage.msg" class="form-control" style="width: 70%; float: left; margin-right: 20px;" id="msg">
          <button class="btn btn-info" ng-click="sendMessage()">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
